  <!-- Start Content-->
  <div class="container-fluid">
            
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">YashaaGlobal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">SEO</a></li>
                        <li class="breadcrumb-item active">Titles & Metas</li>
                    </ol>
                </div>
                <h4 class="page-title">Titles & Metas</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <!-- Start Add User -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group mb-3">
                                    <label for="seperator">Seperator</label>
                                    <input type="text" class="form-control" id="seperator" placeholder="">
                                </div>

                                
                                <div class="form-group mb-3">
                                    <label for="sitetitle">Site title</label>
                                    <input type="text" class="form-control" id="sitetitle" placeholder="">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="desc">Meta description</label>
                                    <textarea class="form-control" id="slug" placeholder=""></textarea>
                                </div>
            
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                </div>
                            </form>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div> <!-- container -->