<!-- Start Content-->
<div class="container-fluid">
            
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">YashaaGlobal</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Settings</a></li>
                        <li class="breadcrumb-item active">Social Media Settings</li>
                    </ol>
                </div>
                <h4 class="page-title">Social Media Settings</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <!-- Start Add User -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group row mb-3">
                                    <label for="gcode" class="col-3 col-form-label">Google Code</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="gcode" >
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="gscript" class="col-3 col-form-label">Google Script</label>
                                    <div class="col-9">
                                        <textarea name="gscript" id="gscript" rows="10" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="rsitekey" class="col-3 col-form-label">Recaptcha Site Key</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="rsitekey" >
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="rsecretkey" class="col-3 col-form-label">Recaptcha Secret Key</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="rsecretkey" >
                                    </div>
                                </div>
                                
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                </div>
                            </form>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div> <!-- container -->

