        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">YashaaGlobal</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                                <li class="breadcrumb-item active">Redirection</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Redirection</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <a routerLink="add"><button type="button" class="btn btn-danger waves-effect waves-light"><i class="mdi mdi-plus-circle mr-1"></i> Add Redirection</button></a>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-right">
                                        <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                                        <button type="button" class="btn btn-light mb-2 mr-1">Import</button>
                                        <button type="button" class="btn btn-light mb-2">Export</button>
                                    </div>
                                </div><!-- end col-->
                            </div>
    
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-striped hover" id="datatableID" datatable [dtOptions]="dtOptions">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>Old Link</th>
                                            <th>Type</th>
                                            <th>New Link</th>
                                            <th>IP Address</th>
                                            <th>Device</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Status</th>
                                            <th style="width: 115px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let table of tableData">
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="table-redirection">
                                                <a href="javascript:void(0);" class="text-body font-weight-semibold">{{table.oldlink}}</a>
                                            </td>
                                            <td class="">
                                                {{table.type}}
                                            </td>
                                            <td class="">
                                                {{table.newlink}}
                                            </td>
                                            <td class="">
                                                {{table.ip}}
                                            </td>
                                            <td class="">
                                                {{table.device}}
                                            </td>
                                            <td class="">
                                                {{table.city}}
                                            </td>
                                            <td class="">
                                                {{table.country}}
                                            </td>
                                            <td>
                                                <span class="badge bg-soft-secondary text-secondary">{{table.status}}</span>
                                            </td>
        
                                            <td>
                                                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>


                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->